<div>
	<input type="button" id="goback" value="返回" />
</div>
<div class="group-title">任务详情</div>
<div class="task-detail">
	<div class="title clearfix">
		<span class="label">任务:</span> <span class="text"></span>
	</div>
	<div class="note clearfix">
		<span class="label">备注:</span> <span class="text"></span>
	</div>
	<div class="created-at clearfix">
		<span class="label">创建时间:</span> <span class="text"></span>
	</div>
	<div class="done-at clearfix">
		<span class="label">完成时间:</span> <span class="text"></span>
	</div>
</div>
<div class="group-title">已有回复</div>
<ul class="comment-list"></ul>
<div class="group-title">我要回复</div>
<div class="comment-post">
	<div>
		<textarea id="comment"></textarea>
	</div>
	<div>
		<input type="button" id="add-comment" value="提交" />
	</div>
</div>